
$title-color: white;
$layout-bgcolor: #282c34;
$column-gap: 3rem;

.App {
  text-align: center;
}

.homePage {
  background-color: $layout-bgcolor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout {
  background-color: $layout-bgcolor;
  min-height: 100vh;
  color: white;
}

.uploadHider {
  height: 0px;
  width: 0px;
  overflow:hidden;
}


/* @import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/layout/_all.sass"; */
@import "bulma/bulma.sass";
