.App {
  text-align: center;
}

.homePage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

$title-color: white;

/* @import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/layout/_all.sass"; */
@import "bulma/bulma.sass";
